node_modules
.DS_Store
.vscode
*.code-snippets
.prettierignore
analysis
cspell.config.yaml
.np-config.json
.npmrc
yarn-error.log
dataforged-tools/build
src/templates
src/data-in/classic/rsek
src/data-in/starforged/sundered_isles
.scratchpad