.DS_Store
moves\moves.html
*.code-snippets
utilities
.vscode
raw
.prettierignore
web-oracle
images
theOracle
PlanetTemplates.json
analysis
data/.prettierrc.yaml
package-lock.json
package.json
.gitignore
node_modules
data/oracles/.prettierrc.yaml
.old
perchance-oracles.txt
.eslintrc.yaml
.testing
config.json
tree.yaml
tsconfig.json
build