node_modules
.DS_Store
analysis
analysis_strings
cspell.config.yaml
.np-config.json
.npmrc
src/templates
dist
.scratchpad

src/adapter
datasworn-tools


# 3rd party content, currently only used for testing
@datasworn-community-content
starsmith
rsek

# Preview content, currently only used for testing
sundered_isles
sundered-isles


# retain everything in source data, just in case
!/source_data/**