@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@400;700&family=Encode+Sans+Expanded:wght@700&family=Encode+Sans+Semi+Expanded:wght@400;700&family=Exo:wght@700;800;900&display=swap');

body {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  letter-spacing: 0.01em;
  word-spacing: 0.01em;
}


h1,a.title,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}

h1,a.title,h2 {
  font-family: 'Exo', sans-serif;
}

h3,h4,h5,h6 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

h1,a.title {
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  font-weight: 800;
}
h2 {
  letter-spacing: 0.025em;
  word-spacing: 0.025em;
}


.tsd-flag, .tsd-comment-tags, .tsd-sources, .tsd-breadcrumb, .tsd-legend-group, .tsd-navigation {
  font-family: 'Encode Sans Condensed', sans-serif;
  letter-spacing: 0.01em;
  word-spacing: 0.01em;
}

.tsd-member h3, .tsd-kind-property, .tsd-kind-property > h3 ,
.tsd-type-parameters h4, .tsd-flag, .tsd-kind-type-alias > h3, .tsd-breadcrumb ~ h1 {
  text-transform: none;
}

.tsd-breadcrumb ~ h1 {
  font-weight: 700;
}

.tsd-comment a:not(.tsd-kind-icon) {
  font-weight: bold;
  color: #ed1a38;
}

/* --color-background: var(--dark-color-background);
--color-secondary-background: var(--dark-color-secondary-background);
--color-text: var(--dark-color-text);
--color-text-aside: var(--dark-color-text-aside);
--color-link: var(--dark-color-link);
--color-menu-divider: var(--dark-color-menu-divider);
--color-menu-divider-focus: var(--dark-color-menu-divider-focus);
--color-menu-label: var(--dark-color-menu-label);
--color-panel: var(--dark-color-panel);
--color-panel-divider: var(--dark-color-panel-divider);
--color-comment-tag: var(--dark-color-comment-tag);
--color-comment-tag-text: var(--dark-color-comment-tag-text);
--color-ts: var(--dark-color-ts);
--color-ts-interface: var(--dark-color-ts-interface);
--color-ts-enum: var(--dark-color-ts-enum);
--color-ts-class: var(--dark-color-ts-class);
--color-ts-private: var(--dark-color-ts-private);
--color-toolbar: var(--dark-color-toolbar);
--color-toolbar-text: var(--dark-color-toolbar-text);
--icon-filter: var(--dark-icon-filter);
--external-icon: var(--dark-external-icon); */